---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Foro">
    <!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->

<main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <header class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                        <img class="mr-4 w-16 h-16 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" alt="Jese Leos">
                        <div>
                            <a href="#" rel="author" class="text-xl font-bold text-gray-900 dark:text-white">Jese Leos</a>
                            <p class="text-base text-gray-500 dark:text-gray-400">Encargado de marketing digital</p>
                            <p class="text-base text-gray-500 dark:text-gray-400"><time  datetime="2022-02-08" title="February 8th, 2022">Feb. 8, 2023</time></p>
                        </div>
                    </div>
                </address>
                <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">Guía para Navegar en Coin Capital</h1>
            </header>
            <p class="lead">Coin Capital está diseñada para ser una plataforma intuitiva y fácil de usar, pensando en que tanto principiantes como expertos puedan aprovechar al máximo sus funcionalidades. 
                Desde el primer momento, encontrarás una interfaz amigable que te guiará paso a paso en tu experiencia de inversión. 
                No importa tu nivel de conocimiento financiero; nuestra herramienta está hecha para que te sientas cómodo y seguro</p>
            <p>"Inversiones". Al hacer clic, accederás a una lista de oportunidades cuidadosamente seleccionadas. Cada inversión incluye detalles claros y 
                específicos para ayudarte a tomar una decisión informada. Si encuentras una opción que te gusta, solo necesitas presionar el botón de aceptación, 
                y tu inversión será procesada de inmediato.</p>
            <p>Además, cada botón y función está acompañado de instrucciones breves pero claras, para asegurarte de que entiendes cada paso. 
                Desde la configuración inicial hasta la gestión de tus activos, nuestra plataforma te ofrece toda la orientación que necesitas. 
                Si alguna vez tienes dudas, recuerda que siempre puedes consultar esta guía o comunicarte con nuestro equipo de soporte. ¡Estamos aquí para ayudarte a crecer!</p>
            <figure><img src="https://cdn.discordapp.com/attachments/1145833321042030663/1311175842688274515/image.png?ex=6747e729&is=674695a9&hm=208b97df23b5c797c60cef8822cdd33e7fd97407024069222d39251a9e261d8b&" alt="">
            </figure>
        </article>
    </div>
  </main>
</Layout>