---
const PUBLIC_KEY = "6Le-IYkqAAAAAGoA2lIwk1mXN-tlRlD4pGCgOL6v"
---
<div class="flex justify-center items-center">
    <div class="g-recaptcha" data-sitekey={PUBLIC_KEY}></div>
</div>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
